<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../css/bottomNavBar.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/topAppMenu.css">
    <link rel="stylesheet" href="../css/img.css">
    <link rel="stylesheet" href="../css/buttons.css">
</head>

<body>

    <header>
        
        <script>
            let visible = true;
            let titulo = "Conocenos";
        </script>

        <script src="../components/AppMenu.js"></script>
        
    </header>

    <center>
        <main>
            <div class="texto">
                <img src="../img/logo_512x512.png">
                <p>Nuestra iniciativa comenzó como una idea muy simple, hacer una página web sobre lenguas maternas y
                    comunidades indígenas, difundir un poco sobre sus costumbres, ubicación, lo básico de su lenguaje y
                    si
                    acaso aspirar a tener un negocio funcional de internet. Realmente no había un deseo por generar la
                    mayor
                    ganancia posible, solo un interés genuino por saber de las culturas que nos rodean, y
                    desgraciadamente
                    pasamos por alto por el bombardeo de contenido en las redes sociales. No es ninguna sorpresa que
                    nuestras comunidades carecen de un sentido de identidad arraigado, la mayoría de nosotros, los
                    integrantes del equipo, somos primera o segunda generación de una familia que vino de otra parte de
                    la
                    republica buscando una mejor vida, ya sea por la repartición de tierras o el negocio del petróleo y
                    derivados, por eso mismo no hemos convivido tan directamente con la riqueza cultural de nuestra
                    región.
                </p>
            </div>

            <div class="texto">

                <img src="../img/personajes_principal.webp" alt="" srcset="">
                <p> Existen muchos conceptos interesantes que se pueden compartir y entender por medio de estas lenguas,
                    debido a que existen ideas que se pueden expresar mejor gracias a palabras específicas y el
                    conocimiento previo que acompaña el lenguaje, por ejemplo, existe una bonita costumbre de siempre
                    ofrecer aunque sea un vaso de agua a tus invitados mientras que la mayoría de nosotros no tiene esa
                    conexión de comunidad existente entre los pueblos originarios de los alrededores, parece no tener
                    nada que ver, pero es el lenguaje el que le da forma al pensamiento y el hecho de que estas
                    comunidades tengan esos pensamientos colectivos es un signo de lo benéfico que puede ser aprender lo
                    básico de cómo se gestionan las ideas en estos dialectos y de paso salvamos a algunos como el pame
                    de desaparecer completamente.
                </p>
            </div>

            <div class="texto">

                <img src="../img/numeros/1.webp">

                <p>Tristemente existe un mucho mayor entusiasmo por aprender inglés que por aprender lo básico de una
                    lengua materna, que, si bien es entendible por el beneficio para la formación de las personas, no
                    deja de ser desagradable el desinterés por una herramienta que puede nutrir mucho tu forma de pensar
                    y ni siquiera te quitaría mucho tiempo el aprender un poco, por eso es que solemos insistir, en la
                    medida de nuestras posibilidades, en hacer que la barrera de entrada sea menos prohibitiva para el
                    público general, con la esperanza de recibir un apoyo por parte de la gente y hacer crecer este
                    proyecto con el tiempo, ya que si algo nos ha enseñado internet es que cualquier idea, por
                    descabellada que parezca, es impedimento para crear una comunidad entorno a ella, entonces, con
                    mayor razón deberíamos de poder generar un entorno donde se retroalimente nuestro esfuerzo con el
                    deseo de la gente por aprender más o entretenerse con su página favorita.
                </p>
            </div>

            <div class="texto">

                <img src="../img/Mapa_SLP.webp">
                
                <p>Por eso apelamos al sentimiento de la gente, por eso nos esforzamos por que todo se vea como lo que
                    es, un esfuerzo de personas que quieren aprender más sobre sí mismas y generar valor a una pequeña
                    comunidad. Solo nos queda seguir mejorando y haciendo nuestro mejor esfuerzo.
                    Paut - stamja´a – la´kuent – pa´at – arensp.</p>
            </div><br>
        </main>
    </center>

    <script src="../public/fontawesome-free-6.5.1-web/all.js"></script>
</body>

</html>