<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../css/bottomNavBar.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/topAppMenu.css">
    <link rel="stylesheet" href="../css/img.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/map.css">
</head>



<body>

    <header>
        
        <script>
            let visible = true;
            let titulo = "Lugares Turisticos";
        </script>

        <script src="../components/AppMenu.js"></script>

    </header>

    <main>
        
        <center>

            <br><br>
            <div class="contenedor">
                
                <h2>Puente de Dios</h2>

                <iframe class="mapa"
                    src="https://www.google.com/maps/embed?pb=!4v1726543122978!6m8!1m7!1sCAoSLEFGMVFpcE1CTDVWcFQ4NjJCejY3ZlJ5MW9ieU9rQVRqd1VySlRKMGpDZVVy!2m2!1d21.9317034!2d-99.4159916!3f316.5156983993634!4f-9.498550498369355!5f0.7820865974627469" 
                    style="border:0;" allowfullscreen="" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                
            </div>
            
            <br><br>
            <div class="contenedor">
                
                <h2>Cascada el Meco</h2>

                <iframe class="mapa"
                    src="https://www.google.com/maps/embed?pb=!4v1726542577220!6m8!1m7!1sCAoSLEFGMVFpcE5ldXM0WmJvRzZQazFhY2RRS25HREJsUlJTRFJfNWU4eDRybTBL!2m2!1d22.5643917!2d-99.3562977!3f30.92479386553002!4f-54.9792812165089!5f0.7820865974627469"
                    style="border:0;" allowfullscreen="" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                
            </div>

            <br><br>
            <div class="contenedor">
                
                <h2>Cascada de Minas Viejas</h2>

                <iframe class="mapa"
                    src="https://www.google.com/maps/embed?pb=!4v1726541501619!6m8!1m7!1sCAoSK0FGMVFpcE5RSkgzb0ZKVFQyTTlSRy1ka292cEhuU1Z6THZxSWQtUjFuNDg.!2m2!1d22.37552126927769!2d-99.31804270084707!3f29.295846775861442!4f-10.348197916665512!5f0.7820865974627469" 
                    style="border:0;" allowfullscreen="" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                
            </div>

            <br><br>
            <div class="contenedor">
                
                <h2>Cascada de Tamasopo</h2>

                <iframe class="mapa"
                    src="https://www.google.com/maps/embed?pb=!4v1726542911491!6m8!1m7!1sCAoSLEFGMVFpcE84M0I4dGJfd3U0azJEby1nYUgwSUVYTG1PRTdWY1FUQ1N1Rkpk!2m2!1d21.9391849!2d-99.39538259999999!3f356.35139713866465!4f-22.809007697619336!5f0.7820865974627469" 
                    style="border:0;" allowfullscreen="" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                
            </div>

        <br><br>
        </center>

    </main>


    <script src="../public/fontawesome-free-6.5.1-web/all.js"></script>
</body>

</html>