<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/topAppMenu.css">
    <link rel="stylesheet" href="../css/img.css">
    <link rel="stylesheet" href="../css/buttons.css">
</head>

<body>

    <header>
        
        <script>
            let visible = false;
            let titulo = "Aprendamos Náhuatl";
        </script>
        <script src="../components/AppMenu.js"></script>

    </header>

    <main>
        <!-- <script src="../components/menuLengua.js"></script> -->
        <script>

            let lengua = "nahuatl";

            let linkCultura ="nahuatl/cultura.html";

            let linkIndicaciones ="nahuatl/indicaciones.html";
            let linkColores = "nahuatl/colores.html";
            let linkNumeros = "nahuatl/numeros.html";
            let linkPronombres = "nahuatl/pronombres.html";

        </script>

        <script src="../components/menuLengua.js"></script>
        <script src="../scripts/animacionBtns.js"></script>
        
        <center>
            <a href="nahuatl/actividad.html">
                <img src="../img/botones/actividades.webp" class="btnCategoria">
            </a>
        </center>
        
    </main>


    <script src="../public/fontawesome-free-6.5.1-web/all.js"></script>

</body>

</html>