<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../css/bottomNavBar.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/topAppMenu.css">
    <link rel="stylesheet" href="../css/img.css">
    <link rel="stylesheet" href="../css/buttons.css">
</head>

<body>

    <header>
        
        <script>
            let visible = false;
            let titulo = "Aprendamos Tének";
        </script>
        <script src="../components/AppMenu.js"></script>

    </header>


    <main>
        
        <script>

            let lengua = "tenek";

            let linkCultura ="tenek/cultura.html";

            let linkIndicaciones ="tenek/indicaciones.html";
            let linkColores = "tenek/colores.html";
            let linkNumeros = "tenek/numeros.html";
            let linkPronombres = "tenek/pronombres.html";

        </script>

        <script src="../components/menuLengua.js"></script>
        <script src="../scripts/animacionBtns.js"></script>

        <center>
            <a href="tenek/actividad.html">
                <img src="../img/botones/actividades.webp" class="btnCategoria">
            </a>
        </center>
        
    </main>


    <script src="../public/fontawesome-free-6.5.1-web/all.js"></script>
</body>

</html>