<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../../css/bottomNavBar.css">
    <link rel="stylesheet" href="../../css/all.css">
    <link rel="stylesheet" href="../../css/topAppMenu.css">
    <link rel="stylesheet" href="../../css/img.css">
    <link rel="stylesheet" href="../../css/buttons.css">
    <link rel="stylesheet" href="../../css/cultura.css">
</head>

<body>

    <header>
        
        <script>
            let visible = false;
            let titulo = "Cultura Tének";
        </script>
        <script src="../../components/AppMenu.js"></script>

    </header>

    <main>
        <script>

            //Tarjeta Gastronomia
            let tituloTarjeta1 = "Gastronomia Tének"
            let linImagen1 = "../../img/cultura/tenek/zacahuil.webp"
            let tituloInfoTarjeta1 = "Platillos tipico Tének"
            let linImagenModal1 = "../../img/cultura/tenek/comidaTenek.webp"
            let info1 = "El Zacahuil es un tamal representativo de la zona, hecho de masa con chile, manteca y relleno de pollo, puerco o de cambas carnes (campechano), que se envuelve en hoja de plátano y se cocina en horno de barro, ¡pero del tamaño de una mesa!"

            //Tarjeta Vestimenta
            let tituloTarjeta2 = "Vestimenta Tének"
            let linImagen2 = "../../img/cultura/tenek/vestimenta.webp"
            let tituloInfoTarjeta2 = "Atuendo tipico Tének"
            let linImagenModal2 = "../../img/cultura/tenek/vestimentaTenek.webp"
            let info2 = "El quechquémel tiene un fleco de lana hecho aparte y unido a la tela con cadeneta en los mismos colores de los dibujos que son el anaranjado, el rosa, el morado y el verde. Alrededor del escote del quechquémel hay un borde con picos que forman rayos."

            //Tarjeta tradiciones
            let tituloTarjeta3 = "Tradiciones Tének"
            let linImagen3 = "../../img/cultura/tenek/xantolo.webp"
            let tituloInfoTarjeta3 = "Festividades Tének"
            let linImagenModal3 = "../../img/cultura/tenek/tradicionesTenek.webp"
            let info3 = "Las festividades más importantes son las de los santos patrones, como las de san José (19 de marzo), san Isidro (15 de mayo), Santiago Apóstol (25 de julio), san Agustín (28 de agosto), san Miguel (29 de septiembre) y otras, así como Año Nuevo y Día de Muertos."

        </script>

        <script src="../../components/infoGastronomia.js"></script>
        <script src="../../components/infoVestimenta.js"></script>
        <script src="../../components/infoTradiciones.js"></script>

    </main>
 
</body>

</html>