<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../../css/bottomNavBar.css">
    <link rel="stylesheet" href="../../css/all.css">
    <link rel="stylesheet" href="../../css/topAppMenu.css">
    <link rel="stylesheet" href="../../css/img.css">
    <link rel="stylesheet" href="../../css/buttons.css">
    <link rel="stylesheet" href="../../css/cultura.css">

</head>

<body>

    <header>
        
        <script>
            let visible = false;
            let titulo = "Cultura Xi'oi";
        </script>
        <script src="../../components/AppMenu.js"></script>

    </header>

    <main>
        <script>

            //Tarjeta Gastronomia
            let tituloTarjeta1 = "Gastronomia Xi'oi"
            let linImagen1 = "../../img/cultura/xioi/frijoles.webp"
            let tituloInfoTarjeta1 = "Platillos tipico Xi'oi"
            let linImagenModal1 = "../../img/cultura/xioi/comidaXioi.jpg"
            let info1 = "Entre ellos están atoles de semillas de patol, de mezquite, de pirul, de puzcua y de masa con epazote; camote, hojas tiernas, ramitas, semillas y flores de la planta llamada mala mujer, caldo de caracoles terrestres, bolime, chibeles, chochas de palma, pinole salado con chile, tamales de chamal y de garbanzo."

            //Tarjeta Vestimenta
            let tituloTarjeta2 = "Vestimenta Xi'oi"
            let linImagen2 = "../../img/cultura/xioi/vestimenta.webp"
            let tituloInfoTarjeta2 = "Atuendo tipico Xi'oi"
            let linImagenModal2 = "../../img/cultura/xioi/vestimentaXioi.jpg"
            let info2 = "La vestimenta típica de las mujeres pames de San Luis Potosí incluye una falda de lana y un quechquémel. Los hombres pames usan un sombrero especial para las danzas y prácticas religiosas."

            //Tarjeta tradiciones
            let tituloTarjeta3 = "Tradiciones Xi'oi"
            let linImagen3 = "../../img/cultura/xioi/diaMuertos.webp"
            let tituloInfoTarjeta3 = "Festividades Xi'oi"
            let linImagenModal3 = "../../img/cultura/xioi/tradicionesXioi.jpg"
            let info3 = "Las fiestas de 'días de muertos' se mantienen vigentes entre los pames. Los rezanderos y los cantadores juegan un papel importante en la organización religiosa y en el entorno simbólico de las comunidades, así como los danzantes, los músicos que los acompañan y el 'jefe' de estos últimos."

        </script>

        <script src="../../components/infoGastronomia.js"></script>
        <script src="../../components/infoVestimenta.js"></script>
        <script src="../../components/infoTradiciones.js"></script>

    </main>
 
</body>

</html>